body {
  box-sizing: border-box;
  margin: 0;
}

#del {
  grid-area: del;
  font-size: 1.15rem;
}

#nine {
  grid-area: nine;
}

#eight {
  grid-area: eight;
}

#seven {
  grid-area: seven;
}

#addition {
  grid-area: addition;
}

#six {
  grid-area: six;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#subtraction {
  grid-area: subtraction;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#one {
  grid-area: one;
}

#multiplication {
  grid-area: multiplication;
}

#division {
  grid-area: division;
}

#zero {
  grid-area: zero;
}

#decimalPoint {
  grid-area: decimalPoint;
}

#equals {
  grid-area: equals;
}

#reset {
  grid-area: reset;
  font-size: 1.2rem;
}

.background,
#del {
  width: 50px;
  height: 50px;
}

.btn {
  font-size: 2rem;
  border-radius: 7px;
  font-weight: bold;
  border-style: none none solid none;
}

#themeBtn {
  cursor: pointer;
}

.switch-toggle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

label {
  grid-row: 1;
  color: white;
}

input {
  grid-row: 2;
}

#themeBtn {
  align-items: end;
  gap: 15px;
  border-radius: 20px;
  border: 0;
}

.calcContainer {
  max-width: 80%;
  margin: 5px auto 0;
}

.headerContainer {
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 12% 13%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
}

.amountContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 85%;
  margin: 10px auto 20px;
  border-radius: 10px;
}

.amountContainer p {
  padding: 15px 10px 15px 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.amountContainer #amountOutput {
  padding-left: 20px;
}

.buttonsContainer {
  max-width: 85%;
  display: grid;
  justify-content: center;
  grid-template-areas: "seven eight nine del" "four five six addition" "one two three subtraction" "decimalPoint zero division multiplication" "reset reset equals equals";
  gap: 10px;
  padding: 15px 0;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.theme-1 {
  background-color: #3b4664;
  color: #fcffff;
}

.theme-1 .amountContainer {
  background-color: #181f32;
}

.theme-1 .buttonsContainer {
  background-color: #252d44;
}

.theme-1 #del,
.theme-1 #reset {
  color: #fff;
  background-color: #616f95;
  border: 4px #414f76;
  border-style: none none solid none;
}

.theme-1 #equals {
  color: #fff;
  background-color: #d13f30;
  border: #8f2316;
  border-style: none none solid none;
}

.theme-1 .background {
  color: #474d5b;
  background-color: #e8e4db;
  border: 4px #b2a295;
  border-style: none none solid none;
}

.theme-1 #del:active,
.theme-1 #reset:active {
  background-color: #415ba5;
}

.theme-1 #equals:active {
  background-color: #ec240e;
}

.theme-1 .background:active {
  background-color: #f1e9d5;
}

.theme-2 {
  background-color: #e6e6e6;
  color: #38382e;
}

.theme-2 .amountContainer {
  background-color: #eeeeee;
}

.theme-2 .buttonsContainer {
  background-color: #d2cccc;
}

.theme-2 #del,
.theme-2 #reset {
  color: #fff;
  background-color: #388187;
  border: 4px #1b6067;
  border-style: none none solid none;
}

.theme-2 #equals {
  color: #fff;
  background-color: #c85401;
  border: #873600;
  border-style: none none solid none;
}

.theme-2 .background {
  color: #2d2d25;
  background-color: #e5e4e0;
  border: 4px #a99d91;
  border-style: none none solid none;
}

.theme-2 #del:active,
.theme-2 #reset:active {
  background-color: #18757e;
}

.theme-2 #equals:active {
  background-color: #dd6006;
}

.theme-2 .background:active {
  background-color: #f3efe0;
}

.theme-2 label {
  color: #070706;
}

.theme-3 {
  background-color: #17062a;
  color: #f0e06c;
}

.theme-3 .amountContainer {
  background-color: #1e0836;
}

.theme-3 .buttonsContainer {
  background-color: #1e0836;
}

.theme-3 #del,
.theme-3 #reset {
  color: #fff;
  background-color: #56077a;
  border: 4px #ba18f5;
  border-style: none none solid none;
}

.theme-3 #equals {
  color: #00292d;
  background-color: #00decf;
  border: #6ef7ef;
  border-style: none none solid none;
}

.theme-3 .background {
  color: #ebd42e;
  background-color: #331b4d;
  border: 4px #812296;
  border-style: none none solid none;
}

.theme-3 #del:active,
.theme-3 #reset:active {
  background-color: #660792;
}

.theme-3 #equals:active {
  background-color: #08ebdb;
}

.theme-3 .background:active {
  background-color: #4e227e;
}

@media (min-width: 350px) {
  .headerContainer {
    grid-template-columns: 1fr 25% 25%;
  }
}

@media (min-width: 420px) {
  .headerContainer {
    grid-template-columns: 1fr 20% 20%;
  }
}

@media (min-width: 520px) {
  .background,
  #del {
    width: 60px;
    height: 55px;
  }
  .calcContainer {
    margin: 10px auto 0;
  }
  .headerContainer {
    grid-template-columns: 1fr 17% 17%;
  }
}

@media (min-width: 605px) {
  .background,
  #del {
    width: 75px;
    height: 59px;
  }
  .calcContainer {
    margin: 15px auto 0;
  }
}

@media (min-width: 725px) {
  .background,
  #del {
    width: 85px;
    height: 65px;
  }
  .calcContainer {
    margin: 25px auto 0;
  }
  .headerContainer {
    grid-template-columns: 1fr 13% 15%;
  }
}

@media (min-width: 800px) {
  .background,
  #del {
    width: 90px;
    height: 65px;
  }
  .calcContainer {
    max-width: 700px;
    margin: 25px auto 0;
  }
}

@media (min-width: 1000px) {
  .calcContainer {
    max-width: 700px;
    margin: 70px auto 0;
  }
}
/*# sourceMappingURL=base.css.map */