//? First row
#del {
    grid-area: del;

    font-size: 1.15rem;
}
#nine {
    grid-area: nine;
}
#eight {
    grid-area: eight;
}
#seven {
    grid-area: seven;
}

//? Second row
#addition {
    grid-area: addition;
}
#six {
    grid-area: six;
}
#five {
    grid-area: five;
}
#four {
    grid-area: four;
}

//? Third row
#subtraction {
    grid-area: subtraction;
}
#three {
    grid-area: three;
}
#two {
    grid-area: two;
}
#one {
    grid-area: one;
}

//? Fourth row
#multiplication {
    grid-area: multiplication;
}
#division {
    grid-area: division;
}
#zero {
    grid-area: zero;
}
#decimalPoint {
    grid-area: decimalPoint;
}

//? Fifth row
#equals {
    grid-area: equals;
}
#reset {
    grid-area: reset;

    font-size: 1.2rem;
}

//? General

.background,
#del {
    width: 50px;
    height: 50px;
}

.btn {
    font-size: 2rem;

    border-radius: 7px;

    font-weight: bold;

    border-style: none none solid none;
}
